version: '3'
services:
    web:
        build:
            context: .
        image: robinsu/hello-python-flask-uwsgi
        container_name: hello-01
        environment:
            - STORE_SESSION_TTL=90
        #volumes:
        #    - /media/es-data-1:/usr/share/elasticsearch/data
        ports:
            - 5001:5000
        #restart: always
        #command: tail -f /dev/null
